body {
  background-repeat: no-repeat;
  background-size: cover;
}

.main-cont {
  min-height: calc(100vh - 19.5rem);
}

#logo-login {
  filter: invert(100%);
}

.list-group[data-page="agregar-comanda"] {
  max-height: 300px;
  overflow-y: scroll;
}

#tabla-productos-wrapper[data-page="agregar-comanda"] {
  max-height: 300px;
  overflow-y: scroll;
  padding: 0;
}

#tabla-productos-wrapper[data-page="agregar-comanda"] table tbody tr {
  cursor: pointer;
}

#nombre-producto[data-page="estado-cuenta-cliente"] {
  width: 30% !important;
}

/* variable del color secundario */
:root {
  --color-secundario: #abebff;
  --color-terciario: #EFFEFF;
}

/* darle el color secundario a las cabezeras de las tablas */
thead {
  background-color: var(--color-secundario) !important;
}
tr, th {
  background-color: inherit !important;
}

.grupo {
  background-color: #f7f7f7 !important;
}
.grupo td {
  background-color: inherit !important;
}

/* darle el color secundario a los botones */
.form-control, .form-select {
  background-color: var(--color-terciario) !important;
}

/* iconos de los botones, cambiar el tamaño con breakpoints de bootstrap */

#flecha4 {
  width: 80px;
  height: 250px;
}

@media (max-width: 768px) {
  #flecha4 {
    width: 125px;
  }
}

@media (max-width: 576px) {
  #flecha4 {
    width: 100px;
  }
}
